* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: inherit;
    --red: #ff0000;
    --green: #e0ff4f;
    --greige: #f6f7eb;
    --purple: #3A00C2;
    --orange: #FF6700;
    --pastel: #fff6ff;
}

hr {
    color: var(--red); 
    border-width: 1px;
    width: 100%;
    opacity: 0;
    animation: fadein .2s forwards ease-out;
} 

body {
    background: var(--pastel);
    color: var(--purple);
    width: 100%;
}

/* PAGE */
 
.text {
    font-family:"Takeoff A", sans-serif;
    font-size: 2.5vw;
    font-variant-ligatures: normal;
  }
  
  h1 {
    font-weight: bold;
    letter-spacing: inherit;
    line-height: inherit;
  }
  
  .text p, h1 {
    padding: 1.4vw 10vw 2.1vw 3vw;
    display: none;
    opacity: 0;
    visibility: hidden;
    animation: fadein .2s forwards ease-out;
  }

  h2 {
    opacity: 0;
    font-size: 2vw;
    padding: 0vw 0vw 0vw 3vw;
    animation: fadein .2s forwards ease-out;
  }

  .text a {
    text-decoration: underline;
    color: inherit;
    padding-left: .5vw;
    padding-right: .5vw;
    margin-left: -.5vw;
    margin-right: -.5vw;
    cursor: pointer;
  }

  .text a:hover {
    text-decoration: none;
  }

  .text a:focus {
    text-decoration: none;
    outline: solid 4px rgba(0,0,0,.4);
  }

  img {
    opacity: 0;
    animation: fadein .2s forwards ease-out;
  }

  ::selection {
    background: var(--purple);
    color: var(--pastel);
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
      margin-top: 1.5vw;
    }

    100% {
      opacity: 1;
      margin-top: 0;
    }
  }