/* PAGE */
  
  h1 {
    font-size: 2.5vw;
    line-height: inherit;
    letter-spacing: inherit;
  }

  .text a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding-bottom: -4vw;
  }

  div.gallery {
    margin: 3vw 0vw 0vw 3vw;
    border: 0.1vw solid #ccc;
    max-width: 20rem;
  }

  div.gallery:hover {
    border: 0.1vw solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    text-align: center;
    padding: 1vw;
    margin-top: -4vw;
    font-size: .8vw;
  }

  div.overview {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-wrap: wrap;
  }

